@import 'https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dancing+Script:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700&display=swap';
* {
  box-sizing: border-box;
}

:root {
  --text-color: #000;
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.125rem;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 1.125rem;
  font-weight: 25rem;
  line-height: 1.5625rem;
  color: var(--text-color);
  animation-name: scroll-bg;
  animation-timeline: scroll();
}

@keyframes scroll-bg {
  0%, 10% {
    background-color: #fd5f8d;
  }
  16.666666%, 26.666666% {
    background-color: #fff;
  }
  33.333333%, 43.333333% {
    background-color: #00c1b5;
  }
  50%, 60% {
    background-color: #ff651a;
  }
  66.666666%, 76.666666% {
    background-color: #ffbe00;
  }
  83.333333%, 93.333333% {
    background-color: #1d3fbb;
  }
  100% {
    background-color: #e30512;
  }
}
img {
  display: block;
}

p {
  margin-block: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ol {
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}

.fixed {
  position: fixed;
}
.fixed--pos-tl {
  top: var(--fixed-m-x);
  left: var(--fixed-m-x);
  width: 16.25rem;
  aspect-ratio: 519/58;
}
.fixed--pos-tr {
  top: calc(var(--fixed-m-y) + 9px);
  right: var(--fixed-m-x);
  font-weight: 700;
}
.fixed--pos-br {
  right: var(--fixed-m-x);
  bottom: var(--fixed-m-y);
  display: flex;
  flex-direction: column-reverse;
}
.fixed--pos-br > li {
  line-height: 1.8rem;
}
.fixed--pos-bl {
  right: calc(var(--fixed-m-x) + 4.25rem + 10rem);
  bottom: var(--fixed-m-y);
  left: var(--fixed-m-x);
  max-width: 40ch;
  font-weight: 700;
  text-wrap: balance;
}
.fixed__copyrights {
  font-size: 0.75rem;
  font-weight: 400;
}
.fixed__policy {
  display: block;
  margin-top: 1lh;
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.issue {
  display: grid;
  grid-template-rows: minmax(var(--fixed-m-y), 1fr) minmax(auto, 60vh) 3lh minmax(var(--fixed-m-y), 1fr);
  grid-template-columns: minmax(var(--fixed-m-x), 1fr) auto minmax(var(--fixed-m-x), 1fr);
  height: 100svh;
  overflow: hidden;
}
.issue__img {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}
.issue__txt {
  grid-row: 3;
  grid-column: 2;
}